section.presentWrap
  h1.presentWrap__title Slide Buttons
  .presentWrap__buttonsBlock

    mixin borderPointBtn(firstPointSide, secondPointSide)
      .borderPointBtnWrap(class=`_${firstPointSide}_${secondPointSide}`)
        button.borderPointBtn #{firstPointSide} #{secondPointSide}

    +borderPointBtn('left', 'right')
    +borderPointBtn('right', 'left')
    +borderPointBtn('top', 'bottom')
    +borderPointBtn('bottom', 'top')

    mixin borderPointQuadBtn(firstPointSide, secondPointSide, thirdPointSide, fourthPointSide)
      .borderPointBtnWrap(class=`_${firstPointSide}_${secondPointSide}_${thirdPointSide}_${fourthPointSide}`)
        button.borderPointBtn #{firstPointSide} #{secondPointSide} #{thirdPointSide} #{fourthPointSide}
  
    +borderPointQuadBtn('left', 'right', 'bottom', 'top')
    +borderPointQuadBtn('right', 'left', 'top', 'bottom')
    +borderPointQuadBtn('top', 'bottom', 'right', 'left')
    +borderPointQuadBtn('bottom', 'top', 'left', 'right')